<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Favicon-->
    <link rel="shortcut icon" href=" {% static 'myapp/img/favicon-akarin.jfif' %} " type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="{% static 'myapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href=" {% static 'myapp/css/login.css' %} ">
    <title>AKARin - {{titulo}} </title>
</head>
<body>
    <div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
            <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bienvenido</h3>
                <form action="/" method="POST" > {% csrf_token %}
                    <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required autofocus>
                    <label for="inputEmail">Nombre de usuario</label>
                    </div>

                    <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                    <label for="inputPassword">Contraseña</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Acceder</button>
                    <div class="text-center">
                    <a class="small" href="#">Olvidó la contraseña?</a></div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'myapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'myapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>