main{
    margin-top: 5px;
}
section{
    background-color: white;
    margin: 20px 0px 10px 0px;
    padding: 10px 40px;

    /*Box shadow*/
    -webkit-box-shadow: 0px 0px 5px 2px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 2px rgba(181,181,181,1);
}