{% extends 'myapp/base.html' %}
{% load static %}

    {% block content %}
    <link rel="stylesheet" href=" {% static 'myapp/css/busqueda.css' %} ">

    <main class="container">
        <nav class="container search-bar">
            <form action="/buscar/" class="form-inline row-fluid">
                <input required type="search" name="search" id="search-input" class="form-control mr-sm-2 col-4" placeholder="Search" aria-label="Search" autofocus >
                <span class="col-1">Desde: </span>
                <input class="col-2" type="date" id="fecha_1" name="fecha_desde" min="2016-01-01"{% if fecha %} value="{{fecha}}" {% endif %}>
                <span class="col-1">Hasta:</span>
                <input class="col-2"  type="date" id="fecha_2" name="fecha_hasta" {% if fecha %} value="{{fecha}}" {% endif %}>

                <button class="btn btn-outline-success my-2 my-sm-0 float-right col-1" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
            </form>
        </nav>

        {% if date %}
            <div class="alert alert-success" role="alert">
                Se encontró {{date|length}} coincidencias
            </div>       
            <section class="row result">
            {% for date in date %}
            <div class="col-2 doc-item-col">
                <div id="doc-item">

                    <h4 class="text-center"> {{date.nombre}} </h4>
                    <figure class="figure text-center container-fluid">
                        <img src=" {% static 'myapp/img/pdf-icon.png' %} " class="figure-img img-fluid rounded" alt="..." height="40px" width="30"> <hr>
                        <button onclick="myFunc(id, '{{date.doc.url}}')"  id="{{date.id}}" class="btns button btn-primary">view</button>
                        <div id="{{date.doc.url}}" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close">&times;</span>
                              <embed height="100%" width="100%" src="{{date.doc.url}}" title="Doc">
                            </div>
                        </div>
                        <p>
                            <span class="badge badge-pill badge-secondary"> {{date.tag}} </span>
                            <button class="badge badge-pill badge-warning">+</button>
                            <a class="badge badge-danger" href="{% url 'Eliminar' date.id %}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </a> 
                        </p>
                    </figure>


                </div>
            </div>
            {% endfor %} 
        {% else %}
            <div class="alert alert-danger" role="alert">
                No se encontró coincidencias
            </div>            
        {% endif %}
        
    </main>
    {% endblock content %}