{% extends 'myapp/base.html' %}
{% load static %}

    
    {% block content %}
    <link rel="stylesheet" href=" {% static 'myapp/css/home.css' %} ">
    <!--Aqui va el contenido principal-->
    <main class="container">
        {% if documentos %}
        <div class="alert alert-info" role="alert">
            Se encontró {{documentos|length}} documentos en total
        </div>
        <section class="row docs">
            {% for documento in documentos %}
            <div class="col-2 doc-item-col">
                <div class="doc-item">
                    <h4 class="text-center"> {{documento.nombre}} </h4>
                    <figure class="figure text-center container-fluid">
                        <img src=" {% static 'myapp/img/pdf-icon.png' %} " class="figure-img img-fluid rounded" alt="..." height="40px" width="30">
                        <figcaption class="figure-caption"><a class="btn btn-primary" href="{{documento.doc.url}}">view</a></figcaption>
                        <p>
                            <span class="badge badge-pill badge-secondary"> {{documento.tag}} </span>
                            <button class="badge badge-pill badge-warning">+</button> 
                        </p>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <div class="alert alert-danger" role="alert">
            No se encontró coincidencias
        </div>
        {% endif %}
    </main>

    {% endblock content %}