{% extends 'myapp/base.html' %}
{% load static %}

    {% block content %}
    <link rel="stylesheet" href=" {% static 'myapp/css/profile.css' %} ">
    
	<main class="container">
		<section id="profile">
			<div class="row">
				<div class="col-sm-3"><!--left col-->
					<div class="text-center">
						<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
						<h6>Cambiar de foto...</h6>
						<input type="file" class="text-center center-block file-upload">
					</div></hr><br>
		
					<div class="panel panel-default">
						<div class="panel-heading">Personal <i class="fa fa-link fa-1x"></i></div>
						<div class="panel-body">
							<label class="container" for="">Usuario :</label><br>
							<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							<label class="container" for="">Celular: </label><br>
							<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
							<label class="container" for="">Ciudad :</label>
							<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

						</div>
					</div>
				</div>

				<div class="col-sm-9">
					<form class="form" action="##" method="post" id="registrationForm">
						<div class="form-group">
							<div class="col-xs-6">
								<label for="first_name"><h4>Primer Nombre</h4></label>
								<input type="text" class="form-control" name="first_name" id="first_name" placeholder="Primer Nombre" title="Ingresar">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
							<label for="last_name"><h4>Segundo Nombre</h4></label>
								<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Segundo Nombre" title="ingresar">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="phone"><h4>Telefono</h4></label>
								<input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" title="Ingrear telefomo">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
							<label for="mobile"><h4>Celular</h4></label>
								<input type="text" class="form-control" name="mobile" id="mobile" placeholder="Celular" title="Ingresar celular">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="email"><h4>Correo Electrónico</h4></label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico" title="Ingresar email">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="email"><h4>Ciudad</h4></label>
								<input type="email" class="form-control" id="location" placeholder="Lugar" title="Ingresar ciudad">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<label for="password"><h4>Contraseña</h4></label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" title="Ingresar contraseña">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<br>
									<button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Guardar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
{% endblock %}